{% extends 'web/main.html' %}
{% block content %}
</br>
</br>
</br>
</br>
</br>
<div class="container">
<div class="row">
{% for anggota in anggota_list %}
<div class="col-md-4">
<img src="{% url 'django_pydenticon:image' anggota.email %}"/>
</div>
<div class="col-md-8">
<h2>{{ anggota.email }}</h2>
<hr>
<h2>{{ anggota.nomor }}</h2>
<hr>
 <div class="form-group">
  <label for="comment">Public Key:</label>
  <textarea class="form-control" rows="5" id="comment">{{ anggota.pgp }}</textarea>
</div> 
</div>
<div class="col-md-12">
<hr>
</div>
{% endfor %}
</div>
</div>
{% endblock content %}
