{% extends 'web/main.html' %}
{% load static %}
    {% block datalayer %}
    'konten':'singlepage',
    {% endblock datalayer %}
{% block content %}
<script src="{% static 'web/js/slide.js' %}"></script>
</br>
</br>
</br>
</br>
</br>

<div class="container">
<div class="row">
<div class="col-md" align="center">
<a href ="https://kelaskita.com/kemudi" target = "_blank">
<img src="{% static 'web/images/kelas_online.png' %}" width=200px>
<p class="title attn">Kelas Online</p>
</a>
</div>
<div class="col-md" align="center">
<a href="{% url 'web:index' %}#modul">
<img src="{% static 'web/images/modul.png' %}" width=200px>
<p class="title attn">Download Modul</p>
</a>
</div>
<div class="col-md" align="center">
<a href="#">
<img src="{% static 'web/images/pelatihan.png' %}" width=200px>
<p class="title attn">Pelatihan</p>
</a>
</div>
<div class="col-md" align="center">
<a href="https://forms.zohopublic.com/kemudixyz/form/KontakKemudi/formperma/jYuFFIgyu6hYZSMo8-8O9mcC-lwhRrsCf0LjDSFXKF4" target="_blank">
<img src="{% static 'web/images/kerjasama.png' %}" width=200px>
<p class="title attn">Kerjasama dengan Kemudi</p>
</a>
</div>
</div>
<hr>
<a id="tentang"></a>
</br>
</br>
</br>
</br>
</br>
<div class="container-fluid fadeIn">
<div class="title text-center attn">
<h1>Tentang</h1>
</div>
</div>

</br>
</br>

<div class="container">
<p>
Internet layaknya jalanan yang bisa dilalui dengan mengemudikan berbagai jenis kendaraan untuk mencapai berbagai tujuan. Seperti jalanan yang punya banyak pilihan juga hambatan, mengemudi di internet juga memerlukan pengetahuan dan keterampilan supaya tidak jatuh, terserempet, dan salah jalan.
</p>

<p>
Aturan-aturan terkait internet yang tidak matang, online hate speech, cyberbullying, predator anak, dan berbagai masalah lainnya yang setiap hari mengancam para pengguna internet sudah membalap jauh tingkat kesiapan para penggunanya, terutama anak muda hari ini yang sudah mengenal internet sejak kanak-kanak (digital natives). Kesiapan yang kami maksud adalah kesiapan memegang kendali penuh dalam menggunakan internet, bukan sekadar berhenti menjadi konsumen yang tak mau tahu. Sehingga, alih-alih memegang kendali, pengguna internet pun malah dikendalikan dan salah arah.
</p>
</div>

<a  id="update"></a>
</br>
</br>
</br>
</br>
</br>

<!--
<div class="container-fluid fadeIn">
<div class="title text-center attn">
<h1>Aktivitas</h1>
</div>
</br>
</br>
</div>
 <div class="slideshow-container">
{% for blog in lastfive %}
  <div class="mySlides">
    <a href="{{ blog.get_absolute_url }}">
    <div class="text-center"><font size="6">{{ blog.judul }}</font></div>
    </a>
  </div>
{% endfor %}
  <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
  <a class="next" onclick="plusSlides(1)">&#10095;</a>
</div> 
<br>

<div style="text-align:center">
{% for dot in lastfive %}
  <span class="dot" onclick="currentSlide({{ dot.pk }})"></span>
{% endfor %}
</div> 
-->

</br>
</br>

<a id="modul"></a>
</br>
</br>
</br>
</br>
</br>

<div class="container-fluid fadeIn">
<div class="title text-center attn">
<h1>Modul</h1>
</div>
</div>

</br>
</br>

<div class="container">

<div class="row">
<div class="media col-md">
<a class="d-md-flex mb-5" href="media/uploads/modul/[lores] modul 1 EBookModulKEMUDI.pdf" target="_blank"> 
<img class ="mr-3" src="media/uploads/modul/modul 1.jpg" width=40% height=40% >
<div class="media-body">
“Internet dan HAM” bertujuan untuk mengkaji dan membahas lebih dalam mengenai kaitan antara Hak Asasi Manusia dalam mendorong demokratisasi dan terwujudnya pemerintahan yang terbuka. Bab ini akan membahas kaitan antara hak-hak asasi warga negara seperti hak untuk berekspresi, hak untuk bebas dari rasa takut dan ancaman, juga hak atas perlindungan privasi online, serta isu-isu lain terkait HAM dan internet di Indonesia. 
</div>
</div>
</a>
<div class="media col-md">
<a class="d-md-flex mb-5" href="media/uploads/modul/[lores] modul 2 EBookModulKEMUDI.pdf" target="_blank">
<img class ="mr-3" src="media/uploads/modul/modul 2.jpg" width=40% height=40% >
<div class="media-body">
Demokrasi digital merupakan sebuah konsep yang memiliki makna multi-tafsir: beberapa diantaranya adalah demokrasi digital dapat berarti demokrasi di ranah digital dan demokrasi yang dilakukan melalui medium digital. Penafsiran ini sepenuhnya masih terbuka mengingat era digital baru benar-benar terwujud di awal abad ke 21. Namun untuk memahami makna tersebut kita perlu membedah kembali makna masing-masing kata yang membentuk kata demokrasi digital itu sendiri.
</div>
</div>
</a>
</div>

</br>

<div class="row">
<div class="media col-md">
<a class="d-md-flex mb-5" href="media/uploads/modul/[lores] modul 3 EBookModulKEMUDI.pdf" target="_blank">
<img class ="mr-3" src="media/uploads/modul/modul 3.jpg" width=40% height=40% >
<div class="media-body">
Kelas ini bertujuan untuk mengenalkan netsiswa mengenai prinsip dasar pengelolaan internet, bahwa internet milik banyak orang dan setiap orang punya peran dalam membentuk masa depan internet.
</div>
</div>
</a>

<div class="media col-md">
<a class="d-md-flex mb-5" href="media/uploads/modul/[lores] modul 4 EBookModulKEMUDI.pdf" target="_blank">
<img class ="mr-3" src="media/uploads/modul/modul 4.jpg" width=40% height=40% >
<div class="media-body">
Kelas ini akan memamparkan bagaimana sebenarnya anak muda bisa menjaga privasi dan keamanannya ketika sedang menggunakan internet. Disajikan dalam beberapa bagian yang disertai juga dengan eksperimen.
</div>
</div>
</a>
</div>

</br>

<div class="row">

<div class="media col-md">
<a class="d-md-flex mb-5" href="media/uploads/modul/[lores] modul 5 EBookModulKEMUDI.pdf" target="_blank">
<img class ="mr-3" src="media/uploads/modul/modul 5.jpg" width=40% height=40% >
<div class="media-body">
Kelas ini akan menjelaskan bagaimana anak muda pada era digital ini dapat melakukan aktivisme dengan memanfaatkan teknologi yang ada. Belajar dari beberapa contoh kasus serta dengan menjawab pertanyaan-pertanyaan yang diberikan.
</div>
</div>
</a>
</br>
</br>
</br>
<div class="media col-md">
<div class="media-body">
</div>
</div>

</div>

</div>

<a  id="rekan"></a>
</br>
</br>
</br>
</br>
</br>

<div class="container-fluid fadeIn">
<div class="title text-center attn">
<h1>Rekan</h1>
</div>
</div>

</br>
</br>

<div class="container">
<div class="row">
<div class="col-md" align="center">
<img src="media/uploads/rekan/f_logo_RGB-Blue_512.png" width=200px>
</div>
<div class="col-md" align="center">
<img src="media/uploads/rekan/LOGO HMJ UNPAD-ok.png" width=200px>
</div>
<div class="col-md" align="center">
<img src="media/uploads/rekan/LOGO HIMAKOM UNAIR SURABAYA.png" width=200px>
</div>
</div>

</br>

<div class="row">
<div class="col-md" align="center">
<img src="media/uploads/rekan/LOGO Kosmik - UNHAS MAKASSAR.png" width=200px>
</div>
<div class="col-md" align="center">
<img src="media/uploads/rekan/logo pamflet.jpg" width=200px>
</div>
<div class="col-md" align="center">
<img src="" width=200px>
</div>
</div>

</br>

<div class="row">
<div class="col-md" align="center">
<img src="" width=200px>
</div>
<div class="col-md" align="center">
<img src="" width=200px>
</div>
<div class="col-md" align="center">
<img src="" width=200px>
</div>
</div>
</div>

<a id="medsos"></a>
</br>
</br>
</br>
</br>
</br>

<div class="container-fluid fadeIn">
<div class="title text-center attn" >
<h1>Media Sosial</h1>
</div>
</div>

</br>
</br>


<div class="container" >
<div class="row">
<div class="col-md" align="center">
<a gtm="gtm_fb" href="https://facebook.com/kelaskemudi" target="_blank">
<i class="fa fa-facebook-official" aria-hidden="true" style="color:#68c4be;font-size:150px"></i>
</br>
facebook
</a>
</div>
<div class="col-md" align="center">
<a gtm="gtm_ig" href="https://www.instagram.com/kemudi/" target="_blank">
<i class="fa fa-instagram" aria-hidden="true" style="color:#68c4be;font-size:150px"></i>
</br>
instagram
</a>
</div>

<div class="col-md" align="center">
<a gtm="gtm_tw" href="https://twitter.com/kemudi_" target="_blank">
<i class="fa fa-twitter-square" aria-hidden="true" style="color:#68c4be;font-size:150px"></i>
</br>
twitter
</a>
</div>
</div>
</div>


{% endblock content %}
