
{% load static%}
<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}KEMUDI ::: Kelas Muda Digital{% endblock title%}</title>
        <script>
            dataLayer = [{
                'dataLayer' : 'true',
                {% block dataLayer %}
                {% endblock dataLayer %}
            }]
        </script>

        <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-K2TJNCZ');</script>
        <!-- End Google Tag Manager -->
        <!-- Hotjar Tracking Code for kemudi.xyz -->
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:846433,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>
    <!-- bootstrap scripts -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
    <!-- end bootstrap scripts-->
    <script src="https://use.fontawesome.com/038ae275d4.js"></script>

        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">

        <!-- end bootstrap -->
    </head>

        <body>
            <!-- Google Tag Manager (noscript) -->
            <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K2TJNCZ"
            height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
            <!-- End Google Tag Manager (noscript) -->

            <div class = "container-fluid">

            <br>
            <br>

    <nav class="navbar navbar-expand-md fixed-top">
        <a gtm="gtm_logo_navbar" class= "navbar-brand brand" href="{% url 'web:index' %}"><img class = "navbrand" src={% static 'web/images/logo.png' %}></a>                
        <button gtm="gtm_menu_responsive" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="fa fa-bars" style="color:#fff"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto attn">
                <li class="nav-item"><a gtm="gtm_tentang" class="nav-link" href="{% url 'web:index' %}#tentang">tentang</a></li>
                <li class="nav-item"><a gtm="gtm_update" class="nav-link" href="{% url 'web:blog' %}"><x style="color:#262262">aktivitas</x></a></li>
                <li class="nav-item"><a gtm="gtm_modul" class="nav-link" href="{% url 'web:index' %}#modul">modul</a></li>
                <li class="nav-item"><a gtm="gtm_rekan" class="nav-link" href="{% url 'web:index' %}#rekan">rekan</a></li>
                <li class="nav-item"><a gtm="gtm_medsos" class="nav-link" href="{% url 'web:index' %}#medsos">media sosial</a></li>
                <li class="nav-item"><a gtm="gtm_login" class="nav-link" href="{% url 'web:member' %}">anggota</a></li>

            </ul>
        </div>
    </nav>
            </div>
            <div class = "container-fluid">
            {% block content %}{% endblock content%}
            </div>
            <br>
            <br>

            <footer class="footer">
                <div class="container-fluid" style="background:#262262;color:#fff" align="center">
                <p><a href="http://kemudi.xyz/">
                         <img src="{% static 'web/main/KEMUDI_WHITE-01.png' %}" alt="KEMUDI" width=20%>
                       </a></p>    
                    <p class="brand pull-left"><p>Konten <a href="https://creativecommons.org/licenses/by-sa/4.0/deed.id"><a gtm="gtm_cc" rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/deed.id" target="_blank"><img alt="Lisensi Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" width="100"></a> dikembangkan oleh <a gtm="gtm_gitlab" class="attn" href="https://gitlab.com/aps2201/kemudi" target="_blank" style="color:#fff">kemudi</a></p>
                    <p><a gtm="gtm_lisensi" href="{% url 'web:lisensi' %}" style="color:#fff">Atribut dan Lisensi</a></p>
                    </br>
                    </br>
                </div>
            </footer>
        </body>
</html>
