{% extends 'web/main.html' %}

    {% block dataLayer %}
    'author':'{{ User.username }}',
    'kategori':'{{ blogdb.kategori }}',
    'tanggal':'{{ blogdb.tanggal }}',
    'dipost':'{{ blogdb.dipost }}',
    'judul':'{{ blogdb.judul }}',
    'konten':'post',

    {% endblock dataLayer %}
{% block content %}
</br>
</br>
</br>
</br>
<div class="container">
    </br>
    <h1>{{ blogdb.judul }}</h1>
    <img src="{{ blogdb.fotofitur }}">
    {{ blogdb.konten|safe }}
    </br>
    <p class="text-center">kategori: {{ blogdb.kategori }} </p> 
    <p class="text-right"> <a gtm="gtm_update" href="{% url 'web:blog' %}"> <<- kembali</a></p>
</div>
{% endblock content %}
