{% extends 'web/main.html' %}

    {% block dataLayer %}
    'author':'{{User.username}}'
    {% endblock dataLayer %}

{% block content %}
</br>
</br>
</br>
</br>
<div class="container">
<h1>Aktivitas</h1>
</br>
{% if blogdb_list %}
{% for blog in blogdb_list %}
<ul>
<div class="media">
<img class = "pr-3" src="{{ blog.fotofitur }}" width=20%>
<div class = "media-body">
<h3>
<a href="{{ blog.get_absolute_url }}">{{ blog.judul }}</a>
</h3>
<p>{{blog.tanggal}}</p>
{% autoescape off %}
<p>{{ blog.konten|truncatewords:22}}</p>
{% endautoescape %}
</div>
</div>
</ul>
{% endfor %}
{% else %}
<p>Ga ada apa-apa<p>
{% endif %}
{% endblock content %}
